.App {
    background-color: #fff;
}

.c_padding {
    padding:2.8rem;
}

.sidebar-expand {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: absolute;
    top:20px;
    left: 15px;
}
.sidebar-expand.mobile {
    display: none;
}

.sidebar-expand i {
    color: #fff;
    font-size: 16px;
    display: inline-block;
}

.nav-pills .nav-link {
    color: #fff !important;
    display: inline-block;
    margin:10px 0;
    font-size: 16px;
}
.nav-pills .nav-link i {
    display: inline-block;
    margin-right: 1.6rem;
}
.sidebar-header {
    padding: 0 1rem;
}

#nav-sidebar.active {
    width: 250px;
    min-width: 0;
}
@media (max-width:767px) {
    .sidebar-expand {
        display: none;
    }
    .sidebar-expand.mobile {
        display: inline;
        color: #196BD8;
    }

    #nav-topbar .brand-container,
    #nav-sidebar {
            width: 0;
    }

    #nav-topbar .brand-container.active,
    #nav-sidebar.active {
            width: 80%;
            min-width: 0;
    }

    #nav-sidebar.active .sidebar-content {
            display: block !important;
    }

    .sidebar-expand i {
            display: inline;
    }
}

.sidebar-content .nav {
    padding: 3em 0;
}
.navbar {
    padding: 1rem 2.8rem !important;
    box-shadow: 0px 3px 50px #1877FF1C;
opacity: 1;
}

.navbar .navbar-brand img {
    width: 120px;
}
.navbar .navbar-nav .nav-item .navIcon {
    width: 20px;
}
.navbar .navbar-nav .nav-item a {
    color: #1c1c1c;
}

#appMain {
    margin-left: 50px;
    padding: 0 !important;
    width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

#appMain.active {
    margin-left: 250px;
}

@media (max-width:767px) {
    #appMain {
        margin-left: 0;
        
    }
}
.table th {
    font-size: 16px;
}
.table td {
    font-size: 14px;
}

.item_fluid {
    display: inline-flex;
}

.item_fluid img {
    width: 50px;
    object-fit: contain;
}
.item_fluid span {
    padding-left: 10px;
}
.item_fluid i {
    font-size: 18px;
    padding-top: 10px;
    color: #666;
}